{
  "extends": "mcr-codes",
  "overrides": [
    {
      "files": [
        "tests/**/*.test.js",
        "mocha.config.js"
      ],
      "env": {
        "mocha": true
      }
    },
    {
      "files": [
        "tests/**/*.test.js",
      ],
      "globals": {
        "server": true,
        "chai": true,
        "expect": true
      }
    },
    {
      "files": [
        "mocha.config.js"
      ],
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    }
  ]
}