{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ]
  }
}